/*
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #75a5ae;
	font-family: "Helvetiva", "Arial", sans-serif;
}
.wrap {
	width: 80%;
	max-width: 1080px;
	display: block;
	margin: auto;
	background-color: #fefefe;
	padding: 2%;
	box-shadow: 4px 4px 9px;
	border-top-left-radius: 5% 10%;
	border-top-right-radius: 5% 10%;
	border-bottom-right-radius: 5% 10%;
	border-bottom-left-radius: 5% 10%;

}
.input_cont {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 1% auto;
	position: relative;

}
.input_cont::after {
	content: "";
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 0%;
	height: 2px;
	background-color: #75a5ae;
	transition-duration: .75s;
	transition-property: left, width;
}

.input_cont label {
	transform: scale(.8) translate(0px, 24px);
	transition-duration: .75s;
	transition-property: transform;
}
.input_cont .input {
	border: none;
	
}
.input_cont.active::after {
	width: 100%;
	left: 0;
}
*/

@import './vars.scss';
@import './mixin.scss';
body {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $primary-color;
	font-family: $font-family;
}


.wrap {
	width: 80%;
	max-width: 1080px;
	display: block;
	margin: auto;
	background-color: #fefefe;
	padding: 2%;
	box-shadow: $default-shadow;
	@include border-radius(5%, 10%);
	h1 {
		color: $primary-color;
		font-weight: 900;
		margin: 5% 10%;
	}
	
	p {
		width: 60%;
		display: block;
		margin: auto;
	}
	form {
		margin-top: 4%;
	}
}

.input_cont {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 3% auto;
	position:relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0%;
		left: 50%;
		width: 0%;
		height: 2px;
		background-color: $primary-color;
		transition-duration: $td_s;
		transition-property: left, width;
	}

	.input {
		border: none;
		-webkit-appearance: none;
		-mox-appearance: none;
		padding-left: 14%;
		&[type="file"] {
			display: none;
		}
	}
	&:not(.input_file){
	       	label {
			transform: scale(1.2) translate(72px, 16px);
			transition-duration: $td_s;
			transition-property: transform;
		}
		&.active {
			&::after {
				width: 100%;
				left: 0;
			}
			label {
				transform: scale(.8) translate(0px, 0px);
			}
		}
	}
	
}

