
@import './vars.scss';
@import './mixin.scss';
body {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $primary-color;
	font-family: $font-family;
}


.wrap {
	width: 80%;
	max-width: 1080px;
	display: block;
	margin: auto;
	background-color: #fefefe;
	padding: 2%;
	box-shadow: $default-shadow;
	@include border-radius(5%, 10%);
	h1 {
		color: $primary-color;
		font-weight: 900;
		margin: 5% 10%;
	}
	
	p {
		width: 60%;
		display: block;
		margin: auto;
	}
	form {
		margin-top: 4%;
	}
}


%input_cont {
    display: flex;
	flex-direction: column;
	width: 40%;
	margin: 3% auto;
	position:relative;
    .input {
		border: none;
        outline: none;
		-webkit-appearance: none;
		-mox-appearance: none;
		padding-left: 14%;
		&[type="file"] {
			display: none;
		}
        &:invalid {
            color: $danger-color;
        }
	}
}
.input_cont {
	@extend %input_cont;
    &_underline {
        @extend %input_cont;
        &::after, &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            height: 2px;
        }
        &::after {
            left: 50%;
            width: 0%;
            background-color: $primary-color;
            transition-duration: $td_s;
            transition-property: left, width;
        }
        &::before {
            left: 0%;
            width: 100%;
            background-color: #5a5a5a;
        }

        label {
            transform: scale(1.2) translate(72px, 16px);
            transition-duration: $td_s;
            transition-property: transform;
        }
        &.active {
            &::after {
                width: 100%;
                left: 0;
            }
            label {
                transform: scale(.8) translate(0px, 0px);
            }
        }
    }
    &.input_submit {
        width: 20%;
        input {
            background-color: $primary-color;
            border: none;
            padding: 4% 4%;
            color: $accent-color;
            text-shadow: 1px 1px 1px #5a5a5a;
            box-shadow: $default-shadow, inset 0px 0px 0px;
            transition: $td_s box-shadow;
            
            &:hover {
                box-shadow: 0px 0px 0px, inset 0px 0px 0px;
            }
            &:active {
                box-shadow: 0px 0px 0px, inset $default-shadow;
                -webkit-appearance: none;
		        -mox-appearance: none;
                border: none;
            }
        }
    }
}

